.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(17, 17, 17, 0.6);
  backdrop-filter: blur(10px);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  z-index: 1000;
}

.overlay.show {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.container {
  width: 100%;
}
.modal {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}
.container.show {
  transform: scale(1);
}

.modal_close {
  position: absolute;
  top: -12px;
  right: -12px;
  background: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.modal_closeIcon {
  width: 20px;
  height: 20px;
  transition: fill 0.3s ease;
  fill: #555;
}

.modal_close:hover {
  background-color: #f44336;
}

.modal_close:hover .modal_closeIcon {
  fill: white;
}

.container::-webkit-scrollbar {
  display: none;
}
